/** performance graph **/

.recharts-polar-grid-angle {
    display: none;
}

.recharts-polar-angle-axis-tick-value {
    font-size: 12px;
    text-transform: capitalize;
}


/***daily***/
.recharts-default-legend {
    display: flex;
    justify-content: flex-end;
}
.recharts-legend-item {
    font-size: 14px;
    margin-right: 0;
}



/*** average length ***/

/* .recharts-legend-item-text {
    opacity: 0.6;
    position: absolute;
    left: 20px;
    top: 29px;
    max-width: 50%;
    text-align: left;
    line-height: 24px;
} */